{{! Maintainers - Thomas Taylor}}
<div class="name-input-inner">
	<div class="title">		
    	<h4 class="inner">{{{title}}}</h1>
    </div>
    
    <div class="input-container">
        <input type="text" class="textbox" data-value="{{{input-label}}}" />
    </div>
    <a href="#" class="button submit clearfix" ><span>Submit</span></a>
    <div class="bg-image clearfix"></div>
    <div class="body clearfix">
        <p class="inner">{{{body}}}</p>
    </div>
</div>
<div class="name-input-shadow"></div>
 